<section class="better-space"></section>
<section id="col-4">
  <div class="container">
   <h2>
        <i class="fa fa-map-marker" aria-hidden="true"></i> Protea Glen Stellenbosch <i class="fa fa-chevron-right" aria-hidden="true"></i> Johannesburg CBD | R40)
    </h2>
    <div class="row">
        <div class="col-md-8 col-sm-12" style="height: 100px; width: 50%">      
            <!-- Card example 06 -->
            <div class="card card__dark card__dark--magenta">
                <div class="media media--16-9"><img src="https://media.pixeltuner.de/wp-content/uploads/2018/06/london-3078109_640.jpg" alt="" width="640" height="426"> </div>
            </div> 
        </div>
        <div class="col-md-4 col-sm-12" style="border-style: solid; border-width: 1px; height: 300px; width: 30%">
          
        </div> 
    </div>
  </div>
</section>
<section class="space"></section><section class="better-space"></section>