<div class="user-message">
    <h4><%= message.user.full_name %></h4>
    <div class="user-image">
        <%= image_tag set_user_profile_image(message.user) %>
    </div>
    <p><%= message.body %></p>
</div>