<a href="/omniauth/facebook" class="social-button" id="facebook-connect"> <span>Login with Facebook</span></a>
<%
=begin%>
 <a href="/omniauth/google_oauth2" class="social-button" id="google-connect"> <span>Login with Google</span></a> 
<%
=end%>
<a href="/omniauth/twitter" class="social-button" id="twitter-connect"> <span>Login with Twitter</span></a>

<div class="hr-theme-slash-2">
  <div class="hr-line"></div>
  <div class="hr-icon">OR</div>
  <div class="hr-line"></div>
</div>