body {
    background-color: #ffffff !important;
    font-size: 14px !important;
}

h2 {
    color: $secondary-color !important;
    font-weight: 800 !important;
    font-size: 25px !important;
    line-height: 30px !important;
    letter-spacing: normal !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.content{
    overflow-y: scroll !important;
    height: 100px !important; 
}

// Checkbox
div.checkbox.switcher, div.radio.switcher {
  label {padding: 0;
    * {vertical-align: middle;}
    input {display: none;
      &+span {position: relative; display: inline-block; margin-right: 10px; width: 56px; height: 28px; background: $secondary-color; border: 1px solid $secondary-background; border-radius: 50px; transition: all 0.3s ease-in-out;
        small {position: absolute; display: block; width: 50%; height: 100%; background: #fff; border-radius: 50%; transition: all 0.3s ease-in-out; left: 0;}
      }
      &:checked+span {background: $brand; border-color: $brand;
        small {
            left: 50%;
        }
      }
    }
  }
}

a {
color: $secondary-color !important;
}

a.event-link {
    color: $primary-color !important;
}

$size: 20px;

.social-share-button {
  padding: 8px 0px;
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}

.brronC {
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f8f8fa;
  -webkit-box-align: center;
  align-items: center;
  padding: 32px 8px;
}

// // Carousel
// .MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
//     .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
//         .MultiCarousel .MultiCarousel-inner .item { float: left;}
//         .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
//     .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
//     .MultiCarousel .leftLst { left:0; }
//     .MultiCarousel .rightLst { right:0; }
    
//         .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }

/* the slides */
.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}

.slick-slide {
  margin: 0px 10px;
}

.slick-prev:before,
.slick-next:before {
    color: $brand;
}

.slick-prev {
  left: -12px;
}
.slick-next {
  right: -12px;
}

.page {
  width: 650px;
  margin: 10% auto 0;
  padding: 20px;
  background: #e5e5e5;
  
  &-title {
      margin-top: 5px;
      margin-bottom: 10px;
  }
  
  &-content {
      background: #fff;
      padding: 25px 0;
  }
}

.placeholder-content {
  height: 205px;
  overflow: hidden;
  background: #000;
  position: relative;
  
  // Animation
  animation-duration: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8; // Fallback
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px; // Animation Area
  
  &_item {
      width: 100%;
      height: 20px;
      position: absolute;
      background: #fff;
      z-index: 2;
      
      &:after,
      &:before {
          width: inherit;
          height: inherit;
          content: '';
          position: absolute;
      }
      
      &:nth-child(1) {
          top: 0;
          left: 0;
      }
      
      &:nth-child(2) {
          top: 20px;
          left: 0;
          width: 10%;
          height: 90px;
      }
      
      &:nth-child(3) {
          top: 0px;
          left: 0;
          width: 10%;
          height: 100%;
      }
      
      &:nth-child(4) {
          top: 20px;
          width: 20px;
          left: 170px;
          height: 90px;
      }
      
      &:nth-child(5) {
          top: 40px;
          left: 190px;
          height: 12px;
      }
      
      &:nth-child(6) {
          top: 75px;
          left: 190px;
          height: 12px;
      }
      
      &:nth-child(7) {
          top: 20px;
          right: 0;
          width: 23%;
          height: 20px;
      }
      
      &:nth-child(8) {
          top: 0;
          right: 0;
          width: 10%;
          height: 100%;
      }
      
      &:nth-child(9) {
          top: 110px;
          height: 17px;
          left: 0;
      }

      &:nth-child(10) {
          top: 149px;
          height: 12px;
          left: 0;
      }
      
      &:nth-child(11) {
          top: 183px;
          left: 0;
          height: 100%;
      }
  }
}

@keyframes placeholderAnimate {
  0%{ background-position: -650px 0; }
  100%{ background-position: 650px 0; }
}


.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.event-show-banner{
  object-fit: cover;
}

.overlay {
  margin-top: 10px;
  margin-left: 10px;
  height: 180px; 
  width: 100%; 
  background-color: rgba(255, 255, 255, 0.5);
}

#text {
  padding: 1px 10px;
}

.btn-info {
color: #fff;
background-color: $primary-color !important;
border-color: $primary-color !important;
}

.btn-primary {
  background-color: $brand !important;
  border-color: $brand !important;
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $brand !important;
  color: white;
  border:1px solid $secondary-color !important;
}


.container-search {
  display: flex;
  flex-direction: column;
}

.top-search {
  position: relative;
  display: flex;
}

.input-container-search {
  position: relative;
  flex: 1;
}

.search-button {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4em;
  font-size: 1.6em;
  background-color: lighten($brand, 5%);
  color: white;
  cursor: pointer;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -6px 12px -8px rgba(0, 0, 0, 0.2), inset 0 6px 12px -8px rgba(255, 255, 255, 0.2);
  
  &:hover {
    background-color: lighten($brand, 10%);
  }
  
  &:active {
    background-color: darken($brand, 5%);
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.2);
  }
}

#search-box {
  width: 100%;
  font-size: inherit;
  border: 1px solid $secondary-background;
  border-left: none;
  box-shadow: inset 0 2px 6px $secondary-background;
  outline: none;
  padding: 0.8em 1em;
  font-size: 1.2em;
  
  &:focus {
    box-shadow: inset 0 2px 6px $secondary-background;
    border-color: $brand;
  }
}

.left-align-slick > .slick-list > .slick-track {    
  margin-left:0;
}

.notify-badge{
  position: absolute;
  right: 10px;
  top:15px;
  background:red;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color:white;
  padding:5px 20px;
  font-size:20px;
}

.login-box:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.login-box h2 {
  margin: 20px 0 20px;
  padding: 0;
  text-transform: uppercase;
  color: #4688F1;
}

.social-button {
  background-position: 25px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
  margin: 10px auto;
  outline: rgb(255, 255, 255) none 0px;
  padding-left: 20%;
  transition: all 0.2s cubic-bezier(0.72, 0.01, 0.56, 1) 0s;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#facebook-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
  border: 1px solid rgb(60, 90, 154);
}

#facebook-connect:hover {
  border-color: rgb(60, 90, 154);
  background: rgb(60, 90, 154) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/facebook-white.svg?sanitize=true') no-repeat scroll 5px 0px / 30px 50px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
  text-decoration: none;
}

#facebook-connect span {
  box-sizing: border-box;
  color: rgb(60, 90, 154);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(255, 255, 255);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#facebook-connect:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
}

#google-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  border: 1px solid rgb(220, 74, 61);
}

#google-connect:hover {
  border-color: rgb(220, 74, 61);
  background: rgb(220, 74, 61) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/google-plus-white.png') no-repeat scroll 5px 0px / 50px 50px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
}

#google-connect span {
  box-sizing: border-box;
  color: rgb(220, 74, 61);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#google-connect:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#twitter-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/twitter.png') no-repeat scroll 5px 1px / 45px 45px padding-box border-box;
  border: 1px solid rgb(85, 172, 238);
}

#twitter-connect:hover {
  border-color: rgb(85, 172, 238);
  background: rgb(85, 172, 238) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/twitter-white.png') no-repeat scroll 5px 1px / 45px 45px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
  text-decoration: none;
}

#twitter-connect span {
  box-sizing: border-box;
  color: rgb(85, 172, 238);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(220, 74, 61);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#twitter-connect:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
}

#linkedin-connect {
  background: rgb(255, 255, 255) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/linkedin.svg?sanitize=true') no-repeat scroll 13px 0px / 28px 45px padding-box border-box;
  border: 1px solid rgb(0, 119, 181);
}

#linkedin-connect:hover {
  border-color: rgb(0, 119, 181);
  background: rgb(0, 119, 181) url('https://raw.githubusercontent.com/eswarasai/social-login/master/img/linkedin-white.svg?sanitize=true') no-repeat scroll 13px 0px / 28px 45px padding-box border-box;
  -webkit-transition: all .8s ease-out;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease-out;
  text-decoration: none;
}

#linkedin-connect span {
  box-sizing: border-box;
  color: rgb(0, 119, 181);
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 0px none rgb(0, 119, 181);
  outline: rgb(255, 255, 255) none 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#linkedin-connect:hover span {
  color: #FFF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-decoration: none;
}

.hr-theme-slash-2 {
  display: flex;
  
  .hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid $secondary-color;
  }
  .hr-icon {
    position: relative;
    top: 3px;
    color: $brand;
  }
}


