<%
=begin%>
 <div class="container-search">
  <div class="top-search">
    <div class="input-container-search">
      <input type="text" id="search-box" class="search-input" placeholder="Find work lift clubs, social events and long distance home rides"/>
      <div id="stats"></div>
    </div>
     <div class="search-button">
      <i class="fa fa-search"></i>
    </div>
</div> 
<%
=end%>
 <%
=begin%>
 <h2 class="mb-3 intro">Find or offer rides to the workplace, social event or cross province suburb you are travelling to.</h2> 

 <section id="sunfish">
  <div class="banner"> 


 <div>
      <figure>
        <img src="https://scontent.fjnb8-1.fna.fbcdn.net/v/t1.0-9/60796127_840712849597000_7543304053271298048_o.jpg?_nc_cat=110&_nc_oc=AQkfDLbdt0UyXp7FPFtccJw7xiO-4-4GCbkpwB815DOvKe_7_sRZsAFlWvBPzEyhGhw&_nc_ht=scontent.fjnb8-1.fna&oh=ed494b748a0cf5da5d2ea6f6d2f9ee84&oe=5E4BFBC1" alt="earlybirds.co.za banner"> 
<%
=end%>
        <%
=begin%>
 <figcaption class="top"><h3>Explore lift clubs to your workplace, social events and cross province home</h3></figcaption> 
<%
=end%>
        <%
=begin%>
 <figcaption class="button"> 
<%= button_to 'Offer a ride', trips_path, :class=>"btn btn-bnb", :method => :get %> 

 <%= button_to 'Find a ride', trips_path, :class=>"btn btn-bnb", :method => :get %> 

 </figcaption>
        <figcaption class="sign">
          <div class="_exn6n2"><svg viewBox="0 0 470 239" fill="#616668" height="50px" aria-label="" width="98.32635983263597px"></svg></div>
        </figcaption>
      </figure>
    </div>
  </div>
</section>  
<%
=end%>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="banner-text">
                    Find or offer rides to the workplace, social event or cross province suburb you are already travelling to.
                </p>
                <a href="/trips/new" class="btn btn-banner">Offering a ride?</a> <a href="/trips" class="btn btn-banner">Looking for a ride?</a>

            </div>
        </div>
    </div>
</div>