 <section class="Section-sc-1y89xsy-0 brronC">
    <div direction="row" class="Row-kr12on-0 jxnwlb">
    <div class="col-md-12 col-sm-12">
        <h2 class="styled__Title-sc-17byy7f-2 kFLZkN">Browse our available social events destinations</h2>
    </div>
    <div direction="row" class="Row-kr12on-0 iIoJkK">
        <% Category.all.each do |category| %>
            <div class="col-md-2 col-sm-12">
                <%= link_to category.name, category_path(category), :class=>"styled__TileText-sc-17byy7f-1 ezTZVn" %>
            </div>
        <% end %>
    </div>
</section> 