
    <h2>Social events rides</h2>
        <div data-slick='{"slidesToShow": 3, "slidesToScroll": 3}' class="scroller responsive data left-align-slick">
            <% @social_trips.each do |trip| %>
                    <!-- Card example 06 -->
                    <div class="card card__small card__dark card__dark--magenta">
                        <div class="media"><%= image_tag trip.vehicle.small, :alt=>"" %></div>
                        <div class="primary-title">
                            <div class="primary-text"><%= link_to trip.event.name, event_path(trip.event), :class => "event-link" %></div>
                            <div class="secondary-text">from <%= trip.start_location %></div>
                        </div>
                        <div class="actions border-top">
                            <div class="action-buttons">
                                <%= button_to "View Details", trip_path(trip), :method => :get, :class => "button", :type => "button" %>
                            </div>
                        </div>
                    </div>
            <% end %>
    </div>