<%= render 'shared/authenticate_modal' %>
<section class="space"></section>
<footer class="footer">
    <section class="footer-top">
      <section class="links-section">
        <div id="company-links" class="links-list">
          <h5 class="links-header">Company</h5>
          <a class="link-item" href="#">About</a>
          <a class="link-item" href="#">Careers</a>
          <a class="link-item" href="#">Press</a>
          <a class="link-item" href="#">Blog</a>
          <a class="link-item" href="#">Help</a>
          <a class="link-item" href="#">Policies</a>
          <a class="link-item" href="#">Crime Reponse</a>
          <a class="link-item" href="#">Terms & Privacy</a>
        </div>
        <div id="discover-links" class="links-list">
          <h5 class="links-header">Discover</h5>
          <a class="link-item" href="#">Trust & Safety</a>
          <a class="link-item" href="#">Earlybirds Picks</a>
          <a class="link-item" href="#">Work Rides</a>
          <a class="link-item" href="#">Social Events Rides</a>
          <a class="link-item" href="#">Cross Province Rides</a>
          <a class="link-item" href="#">Site Map</a>
        </div>
        <div id="hosting-links" class="links-list">
          <h5 class="links-header">Driving</h5>
          <a class="link-item" href="#">Why Share Ride</a>
          <a class="link-item" href="#">Responsible Ride Sharing</a>
          <a class="link-item" href="#">Ride Sharing Safety</a>
          <a class="link-item" href="#">Instant Bookings</a>
          <a class="link-item" href="/trips/new">Create a ride</a>
        </div>
        <div id="hosting-links" class="links-list">
          <h5 class="links-header">Browse rides by events</h5>
          <% Event.limit(5).each do |event| %>
            <%= link_to truncate(event.name, length: 48), event_path(event.slug), :class=>"link-item" %>
          <% end %>
        </div>
      </section>
      <section class="dropdown-section">
        
      </section>
    </section>
    <div id="mobile-links" class="links-list-mobile">
      <a class="link-item" href="/trips/new">Create a ride</a>
      <a class="link-item" href="#">About</a>
      <a class="link-item" href="#">Careers</a>
      <a class="link-item" href="#">Press</a>
      <a class="link-item" href="#">Blog</a>
      <a class="link-item" href="#">Terms & Policy</a>
    </div>
    <section class="footer-bottom">
      <div class="footer-bar"></div>
      <h4 class="join">Join Us On</h4>
      <section class="socialIcons-section">
        <div class="circle"><a href="https://www.facebook.com/earlybirds.co.za/" target='blank' class="icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
        <div class="circle"><a href="https://twitter.com/earlybirdscoza" target='blank' class="icon icon-twitter-footer"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
        <%
=begin%>
 <div class="circle"><a href="#" class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></a></div> 
<%
=end%>
        <%
=begin%>
 <div class="circle"><a href="#" class="icon"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></div> 
<%
=end%>
        <div class="circle"><a href="https://www.instagram.com/earlybirds.co.za/" target='blank' class="icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
      </section>
      <p class="copywright">&#xa9 Lifiti, Inc.</p>
    </section>
</footer>

