<section class="Section-sc-1y89xsy-0 brronC">
<h2>Why use earlybirds for your rides</h2>
<div class="features-block container">
    <div class="row spacing-lg-20 mt-md-112">
        <div class="col-sm-12 col-md-4 mt-56 mt-md-0">
            <img src=<%= "#{Rails.application.secrets.earlybirds_space_cdn_link}/drive.svg" %> alt="car image" height="70" width="70" class="feature-img feature-img-car float-left float-md-none mr-24" />
            <div class="feature-content ml-104 mr-md-24 ml-md-0">
                <h3>Easily find a ride</h3>
                <p class="mt-8 mt-md-16 mb-0 color-grey">Find multiple drivers already driving in your direction, curate the most safe and start riding.</p>
            </div>
        </div>
        <div class="col s12 m4 mt-44 mt-md-0">
            <img src=<%= "#{Rails.application.secrets.earlybirds_space_cdn_link}/pay.svg" %>  alt="coins image" height="70" width="70" class="feature-img feature-img-coins float-left float-md-none mr-24" />
            <div class="feature-content ml-104 mr-md-24 ml-md-0">
                <h3>Normal prices</h3>
                <p class="mt-8 mt-md-16 mb-0 color-grey">You pay prices that are close to normal taxi fares, directly to the driver! </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-44 mt-md-0">
            <img src=<%= "#{Rails.application.secrets.earlybirds_space_cdn_link}/use.svg" %>  alt="phone image" height="70" width="70" class="feature-img feature-img-phone float-left float-md-none mr-24" />
            <div class="feature-content ml-104 mr-md-24 ml-md-0">
                <h3>Easy to use</h3><p class="mt-8 mt-md-16 mb-0 color-grey">Multiple communication channels with your driver. connect once.</p>
            </div>
        </div>
    </div>
</div>
</section>
