 <section class="Section-sc-1y89xsy-0 brronC">
<div class="features-block container">
    <div class="row spacing-lg-20 mt-md-112">
        <div class="col-sm-12 col-md-4 mt-56 mt-md-0">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMTE4Ljc2IDQ1LjY3Ij48ZGVmcz48c3
            R5bGU+LmNscy0xe2ZpbGw6IzJmMzEzZjt9LmNscy0ye2ZpbGw6dXJsKCNsaW5lYXItZ3JhZGllbnQpO30uY2xzLTN7ZmlsbDp1cmwoI2xpbmVhci1ncmFkaWVudC0yKTt9LmNscy00e2ZpbGw6I2E5YWJiOTt9LmNscy01e2ZpbGw6bm9uZTt9LmNscy02e2Zpb
            Gw6IzU4NWE2ODt9PC9zdHlsZT48bGluZWFyR3JhZGllbnQgaWQ9ImxpbmVhci1ncmFkaWVudCIgeDE9Ijc0LjAzIiB4Mj0iNzQuMDMiIHkyPSIzOS43MSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xv
            cj0iI2VhZTllZSIvPjxzdG9wIG9mZnNldD0iMC40NyIgc3RvcC1jb2xvcj0iI2U3ZTZlYyIvPjxzdG9wIG9mZnNldD0iMC44IiBzdG9wLWNvbG9yPSIjZGVkZWU0Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjZDRkNGRiIi8+PC9saW5lYXJHcmF
            kaWVudD48bGluZWFyR3JhZGllbnQgaWQ9ImxpbmVhci1ncmFkaWVudC0yIiB4MT0iNDMuNDMiIHkxPSItMC4xNyIgeDI9IjQzLjQzIiB5Mj0iNDIuODciIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIj48c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3
            I9IiNkY2RjZTMiLz48c3RvcCBvZmZzZXQ9IjAuMzMiIHN0b3AtY29sb3I9IiNkOGQ4ZGYiLz48c3RvcCBvZmZzZXQ9IjAuNjYiIHN0b3AtY29sb3I9IiNjY2NjZDUiLz48c3RvcCBvZmZzZXQ9IjAuOTkiIHN0b3AtY29sb3I9IiNiOGI4YzMiLz48c3RvcCBvZ
            mZzZXQ9IjEiIHN0b3AtY29sb3I9IiNiN2I3YzIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48dGl0bGU+QXNzZXQgNzwvdGl0bGU+PGcgaWQ9IkxheWVyXzIiIGRhdGEtbmFtZT0iTGF5ZXIgMiI+PGcgaWQ9IkxheWVyXzEtMiIgZGF0YS1uYW1lPSJMYXll
            ciAxIj48ZyBpZD0iY2FyLWNsb2NrIj48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMDMsMjIuOTFIOTlWNDUuNjdoNGM0LjM5LDAsOC01LjEsOC0xMS4zOFMxMDcuMzUsMjIuOTEsMTAzLDIyLjkxWiIvPjxlbGxpcHNlIGNsYXNzPSJjbHMtMSIgY3g9Ijk4Ljk
            5IiBjeT0iMzQuMjkiIHJ4PSI3Ljk0IiByeT0iMTEuMzgiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik00OS4yNSwyMi45MWgtNFY0NS42N2g0YzQuMzksMCw3Ljk0LTUuMSw3Ljk0LTExLjM4UzUzLjY0LDIyLjkxLDQ5LjI1LDIyLjkxWiIvPjxlbGxpcHNlIG
            NsYXNzPSJjbHMtMSIgY3g9IjQ1LjI4IiBjeT0iMzQuMjkiIHJ4PSI3Ljk0IiByeT0iMTEuMzgiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xOS41OCwyNC44MWgtNFY0NS42N2g0YzQuMzksMCw3Ljk0LTUuMSw3Ljk0LTExLjM4UzI0LDI0LjgxLDE5LjU4L
            DI0LjgxWiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTcxLjIsMjQuODFoLTRWNDUuNjdoNGM0LjM5LDAsNy45NC01LjEsNy45NC0xMS4zOFM3NS41OSwyNC44MSw3MS4yLDI0LjgxWiIvPjxwYXRoIGNsYXNzPSJjbHMtMiIgZD0iTTExOC43NSwyOC40NXY1L
            jc4YTQsNCwwLDAsMS0zLjM1LDRsLTkuMjcsMS40NUgzNS44NWwtMy4wOC0yLjU4QzMwLDM2LjMzLDI5LjMsMTUuODksMjkuMywxNS44OWwuNjktMkwzMy40OSw0YTEyLjExLDEyLjExLDAsMCwwLDEuMzktMS4xOUExMC41LDEwLjUsMCwwLDAsMzUuNjEsMkMzN
            y40OC0uMTgsMzQsMCwzNy40NiwwSDY0LjczQTIwLjMxLDIwLjMxLDAsMCwxLDc0Ljg4LDIuNzhjLjY1LjM2LDEuMjkuNzYsMS45MywxLjE5LjQ1LjMuOTEuNjQsMS4zNSwxTDkyLDEzLjlsMjMsOWE2LDYsMCwwLDEsMi42LDJsLjA2LjFhNS42LDUuNiwwLDAsM
            SwxLjA3LDIuODZBMi45MywyLjkzLDAsMCwxLDExOC43NSwyOC40NVoiLz48cGF0aCBjbGFzcz0iY2xzLTMiIGQ9Ik04Ni44NiwyOC4zNXY1LjRhNiw2LDAsMCwxLTYsNkgxNEw4LjQxLDM3LjVDMy43LDM2LjIxLS41OSwzMy4yNS4wNywyNy4zMkwxLjMxLDE3L
            jRBNSw1LDAsMCwxLDUuMiwxMy4xNGwuMjctLjA2YTExLjI0LDExLjI0LDAsMCwwLDUuMzQtMi43M0wxNS4yNCw2YzQuMDctMy42OSw4Ljc5LTYsMTQtNmg5LjY5YTE2LjY1LDE2LjY1LDAsMCwxLDkuMjEsMi43OEExNywxNywwLDAsMSw1MS44Niw2LjJsNy44M
            yw3LjdMODMsMjIuNzhBNiw2LDAsMCwxLDg2Ljg2LDI4LjM1WiIvPjxlbGxpcHNlIGNsYXNzPSJjbHMtMSIgY3g9IjE1LjYxIiBjeT0iMzQuMjkiIHJ4PSI3Ljk0IiByeT0iMTEuMzgiLz48ZWxsaXBzZSBjbGFzcz0iY2xzLTQiIGN4PSIxNS42MSIgY3k9IjM0L
            jI5IiByeD0iNC42NSIgcnk9IjcuNjUiLz48ZWxsaXBzZSBjbGFzcz0iY2xzLTEiIGN4PSI2Ny4yMyIgY3k9IjM0LjI5IiByeD0iNy45NCIgcnk9IjExLjM4Ii8+PGVsbGlwc2UgY2xhc3M9ImNscy00IiBjeD0iNjcuMjMiIGN5PSIzNC4yOSIgcng9IjQuNjUiI
            HJ5PSI3LjY1Ii8+PHBhdGggY2xhc3M9ImNscy01IiBkPSJNOTMuOCwzMC40OGwuNTQuOTMtLjQ4LS44NloiLz48cGF0aCBjbGFzcz0iY2xzLTYiIGQ9Ik05MiwxMy45SDU5LjY5TDUxLjg2LDYuMmExNywxNywwLDAsMC0zLjc3LTMuNDJINjlBMTkuOTEsMTkuO
            TEsMCwwLDEsNzkuOCw2WiIvPjxwYXRoIGNsYXNzPSJjbHMtMSIgZD0iTTU5LjY5LDEzLjlIMjAuMDZhMywzLDAsMCwxLTEuODUtNS4yNkwyMSw2LjQ1QTE2LjcyLDE2LjcyLDAsMCwxLDMxLjQsMi43OEg0OC4wOUExNywxNywwLDAsMSw1MS44Niw2LjJaIi8+P
            HBhdGggY2xhc3M9ImNscy00IiBkPSJNMTE4Ljc1LDI4LjQ1bDAsMmgtNC4wN2EyLDIsMCwwLDEtMS41OC0uOGwtMS42MS0yLjE0YTIsMiwwLDAsMC0xLjU5LS43OUg5NmEyLDIsMCwwLDAtMS41OC43OWwtMS42MSwyLjE0YTIsMiwwLDAsMS0xLjU5LjhIODMuM
            zZhMiwyLDAsMCwxLTEuNTktLjgyTDgwLjcsMjguMTZBMiwyLDAsMCwxLDgyLjMsMjVoMzUuMzRhNS42LDUuNiwwLDAsMSwxLjA3LDIuODZBMi45MywyLjkzLDAsMCwxLDExOC43NSwyOC40NVoiLz48L2c+PC9nPjwvZz48L3N2Zz4=" alt="car image" height="80" width="80" class="feature-img feature-img-car float-left float-md-none mr-24">
            <div class="feature-content ml-104 mr-md-24 ml-md-0">
                <h3>Join a lift club</h3>
                <p class="mt-8 mt-md-16 mb-0 color-grey">Find occasional and regular work rides.</p>
            </div>
        </div>
        <div class="col s12 m4 mt-44 mt-md-0">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgOTIuMDIgNzIuODUiPjxkZWZzPjxzdHlsZ
            T4uY2xzLTF7ZmlsbDpub25lO30uY2xzLTJ7ZmlsbDojMzRjZjg0O30uY2xzLTN7ZmlsbDojM2JlOTk0O30uY2xzLTR7ZmlsbDojZTdlOGVjO30uY2xzLTV7ZmlsbDojZDFkMmRhO30uY2xzLTZ7ZmlsbDojYTdhOWI3O30uY2xzLTd7ZmlsbDojZmNjZjA3O30uY2
            xzLTh7Y2xpcC1wYXRoOnVybCgjY2xpcC1wYXRoKTt9LmNscy05e2ZpbGw6I2ZhYjMwNjt9LmNscy0xMHtmaWxsOiNmY2VlOGY7fS5jbHMtMTF7Y2xpcC1wYXRoOnVybCgjY2xpcC1wYXRoLTIpO30uY2xzLTEye2NsaXAtcGF0aDp1cmwoI2NsaXAtcGF0aC0zKTt
            9PC9zdHlsZT48Y2xpcFBhdGggaWQ9ImNsaXAtcGF0aCI+PHJlY3QgY2xhc3M9ImNscy0xIiB5PSI2Ny43MiIgd2lkdGg9IjI5LjI0IiBoZWlnaHQ9IjUuMTMiIHJ4PSIxLjM5Ii8+PC9jbGlwUGF0aD48Y2xpcFBhdGggaWQ9ImNsaXAtcGF0aC0yIj48cmVjdCBj
            bGFzcz0iY2xzLTEiIHk9IjYyLjU5IiB3aWR0aD0iMjkuMjQiIGhlaWdodD0iNS4xMyIgcng9IjEuMzkiLz48L2NsaXBQYXRoPjxjbGlwUGF0aCBpZD0iY2xpcC1wYXRoLTMiPjxyZWN0IGNsYXNzPSJjbHMtMSIgeT0iNTcuNDYiIHdpZHRoPSIyOS4yNCIgaGVpZ
            2h0PSI1LjEzIiByeD0iMS4zOSIvPjwvY2xpcFBhdGg+PC9kZWZzPjx0aXRsZT5Bc3NldCA4PC90aXRsZT48ZyBpZD0iTGF5ZXJfMiIgZGF0YS1uYW1lPSJMYXllciAyIj48ZyBpZD0iTGF5ZXJfMS0yIiBkYXRhLW5hbWU9IkxheWVyIDEiPjxwYXRoIGNsYXNzPS
            JjbHMtMiIgZD0iTTI3LjcxLDcuNzhINzYuNzhhMy4yOSwzLjI5LDAsMCwxLDMuMjksMy4yOVYyNS40MmEzLjI5LDMuMjksMCwwLDEtMy4yOSwzLjI5SDI3LjcxYTAsMCwwLDAsMSwwLDBWNy43OGEwLDAsMCwwLDEsMCwwWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGU
            oLTIuOTUgMjAuNjkpIHJvdGF0ZSgtMjEuMTcpIi8+PHBhdGggY2xhc3M9ImNscy0zIiBkPSJNMjguNjYsMTIuMTdIODEuMTNhMy40LDMuNCwwLDAsMSwzLjQsMy40VjI5LjdhMy40LDMuNCwwLDAsMS0zLjQsMy40SDI4LjY2YTAsMCwwLDAsMSwwLDBWMTIuMTdB
            MCwwLDAsMCwxLDI4LjY2LDEyLjE3WiIgdHJhbnNmb3JtPSJtYXRyaXgoMC45OSwgLTAuMTcsIDAuMTcsIDAuOTksIC0zLjAyLCA5Ljk1KSIvPjxyZWN0IGNsYXNzPSJjbHMtNCIgeD0iMjEuNDUiIHk9IjE2Ljc0IiB3aWR0aD0iNjcuNzgiIGhlaWdodD0iNTYuM
            TEiIHJ4PSI0LjY1Ii8+PHJlY3QgY2xhc3M9ImNscy01IiB4PSI3MC44NCIgeT0iMzQuODciIHdpZHRoPSIyMS4xOSIgaGVpZ2h0PSIxOS44NiIgcng9IjMuNTkiLz48Y2lyY2xlIGNsYXNzPSJjbHMtNiIgY3g9IjgxLjQzIiBjeT0iNDQuOCIgcj0iNC40OCIvPj
            xyZWN0IGNsYXNzPSJjbHMtNyIgeT0iNjcuNzIiIHdpZHRoPSIyOS4yNCIgaGVpZ2h0PSI1LjEzIiByeD0iMS4zOSIvPjxnIGNsYXNzPSJjbHMtOCI+PHJlY3QgY2xhc3M9ImNscy05IiB5PSI3MS4zOCIgd2lkdGg9IjI5LjQ4IiBoZWlnaHQ9IjEuNDciLz48L2c
            +PHJlY3QgY2xhc3M9ImNscy0xMCIgeD0iMy42MSIgeT0iNjcuNzIiIHdpZHRoPSI0LjE2IiBoZWlnaHQ9IjMuNjYiLz48cmVjdCBjbGFzcz0iY2xzLTciIHk9IjYyLjU5IiB3aWR0aD0iMjkuMjQiIGhlaWdodD0iNS4xMyIgcng9IjEuMzkiLz48ZyBjbGFzcz0i
            Y2xzLTExIj48cmVjdCBjbGFzcz0iY2xzLTkiIHk9IjY2LjI1IiB3aWR0aD0iMjkuNDgiIGhlaWdodD0iMS40NyIvPjwvZz48cmVjdCBjbGFzcz0iY2xzLTEwIiB4PSIzLjYxIiB5PSI2Mi41OSIgd2lkdGg9IjQuMTYiIGhlaWdodD0iMy42NiIvPjxyZWN0IGNsY
            XNzPSJjbHMtNyIgeT0iNTcuNDYiIHdpZHRoPSIyOS4yNCIgaGVpZ2h0PSI1LjEzIiByeD0iMS4zOSIvPjxnIGNsYXNzPSJjbHMtMTIiPjxyZWN0IGNsYXNzPSJjbHMtOSIgeT0iNjEuMTIiIHdpZHRoPSIyOS40OCIgaGVpZ2h0PSIxLjQ3Ii8+PC9nPjxyZWN0IG
            NsYXNzPSJjbHMtMTAiIHg9IjMuNjEiIHk9IjU3LjQ2IiB3aWR0aD0iNC4xNiIgaGVpZ2h0PSIzLjY2Ii8+PGNpcmNsZSBjbGFzcz0iY2xzLTkiIGN4PSIyNy42MSIgY3k9IjU4LjIzIiByPSIxNC42MiIvPjxjaXJjbGUgY2xhc3M9ImNscy0xMCIgY3g9IjI3LjY
            xIiBjeT0iNTguMjMiIHI9IjEyLjIiLz48Y2lyY2xlIGNsYXNzPSJjbHMtNyIgY3g9IjI3LjYxIiBjeT0iNTguMjMiIHI9IjguODIiLz48L2c+PC9nPjwvc3ZnPg==" alt="coins image" height="70" width="70" class="feature-img feature-img-coins float-left float-md-none mr-24">
            <div class="feature-content ml-104 mr-md-24 ml-md-0">
                <h3>Normal prices</h3>
                <p class="mt-8 mt-md-16 mb-0 color-grey">You pay prices that are close to normal taxi fares, directly to the driver! </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mt-44 mt-md-0">
            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIzLjAuNiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZl
            cnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA2MiA4MC4xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bm
            V3IDAgMCA2MiA4MC4xOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGwtcnVsZTpldmVub2RkO2NsaXAtcnVsZTpldmVub2RkO2ZpbGw6I0VFRUVGNjt9Cgkuc3Qxe2ZpbGw6IzNCRTg5Mzt9Cgkuc3Qye2ZpbGwtcnVsZTpldmVub2RkO2NsaXAt
            cnVsZTpldmVub2RkO2ZpbGw6IzNCRTg5Mzt9Cgkuc3Qze2ZpbGw6I0U2RTdFQjt9Cgkuc3Q0e2NsaXAtcGF0aDp1cmwoI1NWR0lEXzJfKTt9Cgkuc3Q1e2ZpbGw6IzY2NzVGRjt9Cgkuc3Q2e2ZpbGw6I0ZGRkZGRjt9Cjwvc3R5bGU+Cjx0aXRsZT5Bc3NldCAxMDwvdGl0bGU+CjxnPgoJPGcgaWQ9Ik
            xheWVyXzEtMiI+CgkJPHBhdGggaWQ9IkZpbGwtMS0yIiBjbGFzcz0ic3QwIiBkPSJNNjIsMjkuNkM2Miw0NSw0OS42LDU3LjQsMzQuMiw1Ny40UzYuNCw0NSw2LjQsMjkuNlMxOC45LDEuOCwzNC4yLDEuOGMwLDAsMCwwLDAsMAoJCQlDNDkuNiwxLjgsNjIsMTQuMyw2MiwyOS42QzYyLDI5LjYsNjIsM
            jkuNiw2MiwyOS42Ii8+CgkJPGNpcmNsZSBjbGFzcz0ic3QxIiBjeD0iMzQuOCIgY3k9IjQ0LjMiIHI9IjguMyIvPgoJCTxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0xNS44LDguOGMxLDAuMiwyLDAuNCwzLjEsMC40YzUuMSwwLDkuNi0yLjksMTEuOC03LjFDMjUuMSwyLjgsMTkuOSw1LjIsMTUuOCw4Ljh6
            Ii8+CgkJPHBhdGggY2xhc3M9InN0MSIgZD0iTTYuNiwzMi4yYzAuNiw2LjEsMy4xLDExLjYsNi45LDE1LjljMC40LTEuMiwwLjYtMi41LDAuNi0zLjlDMTQuMSwzOC45LDExLDM0LjQsNi42LDMyLjJ6Ii8+CgkJPHBhdGggY2xhc3M9InN0MiIgZD0iTTM2LjcsMS45Yy0zLjQsMy42LTUuNiw4LjUtNS42
            LDEzLjljMCwxMS4yLDksMjAuMiwyMC4yLDIwLjJjMy44LDAsNy40LTEuMSwxMC41LTNjMC4xLTEuMSwwLjItMi4zLDAuMi0zLjQKCQkJYzAsMCwwLDAsMCwwQzYyLDE1LjEsNTAuOSwzLjIsMzYuNywxLjl6Ii8+CgkJPHBhdGggY2xhc3M9InN0MyIgZD0iTTUuNCwxMS4yaDI1LjRjMi42LDAsNC42LDIu
            MSw0LjYsNC42Vjc0YzAsMi42LTIuMSw0LjYtNC42LDQuNkg1LjRjLTIuNiwwLTQuNi0yLjEtNC42LTQuNlYxNS45CgkJCUMwLjcsMTMuMywyLjgsMTEuMiw1LjQsMTEuMnoiLz4KCQk8Zz4KCQkJPGRlZnM+CgkJCQk8cGF0aCBpZD0iU1ZHSURfMV8iIGQ9Ik01LjQsMTEuMmgyNS40YzIuNiwwLDQuNiwyL
            jEsNC42LDQuNlY3NGMwLDIuNi0yLjEsNC42LTQuNiw0LjZINS40Yy0yLjYsMC00LjYtMi4xLTQuNi00LjZWMTUuOQoJCQkJCUMwLjcsMTMuMywyLjgsMTEuMiw1LjQsMTEuMnoiLz4KCQkJPC9kZWZzPgoJCQk8Y2xpcFBhdGggaWQ9IlNWR0lEXzJfIj4KCQkJCTx1c2UgeGxpbms6aHJlZj0iI1NWR0lEXz
            FfIiAgc3R5bGU9Im92ZXJmbG93OnZpc2libGU7Ii8+CgkJCTwvY2xpcFBhdGg+CgkJCTxnIGNsYXNzPSJzdDQiPgoJCQkJPHJlY3QgeD0iLTAuOSIgeT0iNjguNyIgY2xhc3M9InN0NSIgd2lkdGg9IjM4IiBoZWlnaHQ9IjExLjQiLz4KCQkJCTxyZWN0IHg9Ii0wLjQiIHk9IjcuMSIgY2xhc3M9InN0NSIg
            d2lkdGg9IjM2LjgiIGhlaWdodD0iMTEuNCIvPgoJCQk8L2c+CgkJPC9nPgoJCTxjaXJjbGUgY2xhc3M9InN0NiIgY3g9IjE4LjEiIGN5PSI3My42IiByPSIyLjgiLz4KCTwvZz4KPC9nPgo8L3N2Zz4K" alt="phone image" height="70" width="70" class="feature-img feature-img-phone float-left float-md-none mr-24">
            <div class="feature-content ml-104 mr-md-24 ml-md-0">
                <h3>Easy to use</h3><p class="mt-8 mt-md-16 mb-0 color-grey">Multiple communication channels with your driver. connect once.</p>
            </div>
        </div>
    </div>
</div>
</section>
